services:
  happy_bank:
    build: .
    container_name: background_remover
    ports:
      - "5100:5100"
    volumes:
      - ./database:/app/database
      - ./uploads:/app/uploads
    restart: unless-stopped
