services:
  app:
    build: .
    container_name: background_remover
    ports:
      - "5100:5100"
    volumes:
      - .:/app          # mount seluruh kode dari host (overwrite hasil build)
      - /app/node_modules  # kecualikan node_modules jika ada
      - uploads_data:/app/uploads/processed
      - db_data:/app/database
    command: npm install
    restart: unless-stopped
    
volumes:
  uploads_data:
  db_data: